@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Maven+Pro&display=swap');
div{
    display: block;
    margin: 0;
    background-color:#333;
    padding: 20px;
    text-align: center;
  }
  div h2{
      color: #fff;
      font-family: 'Gilda Display', serif;
      text-align: left;
      
      margin-top: 0;
  }
    div h1{
        font-size: 3em;
        font-family: 'Gilda Display', serif;
        background-image:linear-gradient(to bottom,#3dc8d5,#8507e1);
        color: #fff;
        text-align: center;
        border-radius: 10px;
        width: 200px;
        height: 150px;
        padding: 1%;
        margin: 20px auto auto;
        cursor: pointer;
  }
  div p{
      color: #fff;
      font-family: 'Gilda Display', serif;
      text-align: center;
      font-size: 80%;
      margin-top: -30px;
  }
  div nav :first-child{
    font-family:'Gilda Display', serif ;
      text-align: right;
      text-decoration: none;
      color: #fff;
      list-style: none;
      
  }
  div nav :nth-child(1) a:link {
      text-decoration: none;
    
    
  }
  div nav :nth-child(1) a :visited {
        text-decoration: none;
        background-color: crimson;
  }
  div nav :nth-child(1) a :hover {
      text-decoration: underline;
      color:magenta;
  }
  div nav :nth-child(1) a :active {
      text-decoration: underline;
      
}
  
 section :first-child{
    margin-left: 50px;
    padding-top: 20%;
   
}
section :nth-child(2){
    font-family: 'Gilda Display', serif;
    font-size: 3em;
    margin: 0px 50px;

}
section :nth-child(3){
        margin-left: 50px;
        font-family: 'Gilda Display', serif;
}
section :last-child{
    font-family: 'Gilda Display', serif;
    margin-left: 50px;
}
article img{
    height: 40vh;
    border-radius: 15px;
    margin: 300px 300px 0;
    
    
}
article h2{
    margin-left: 300px;
}
article p{
    margin-left:300px ;
    text-transform: uppercase;
    font-family:  'Gilda Display', serif;
}